@charset "UTF-8";
/* CSS Document */

body{
font-family: Helvetica, arial, sans-serif;
font-size: 13px;	
}

.tabs{
width: 150px;

list-style-type: none;

padding-bottom: 15px;
padding-left: 25px;
float: left;
margin: 0;
}

.tabs li:last-child{
	border-bottom: 1px solid #CCC;
}

.content{
width: 400px;
margin-left: 174px;	
border: 1px solid #CCC;
min-height: 400px;
padding: 20px;
}

.tinytabs{
display: block;
padding: 10px;
border: 1px solid #CCC;	
background-color: #EEE;
border-bottom: 0;

}

.current{
	border-right: 0;
	background-color: white;
}

a{
text-decoration: none;
color: black;	
}

